#presentation .section-max-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#presentation .koji-netsu {
  margin: 0;
}

#presentation {
  padding: 4rem 0 0 0;
}

.presentation-div {
  position: relative;
}

.netsu-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  position: absolute;
}

[data-theme='light'] {
  .slogan {
    filter: invert(1);
  }
}
