.legal-notice-main {
  padding: 0 2rem;
}

.legal-notice-paragraph {
  text-align: left;
}

h1 {
  text-align: center;
}

h3 {
  position: relative;
  padding: 3rem 0 1.6rem 0;
}

h3::after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 85px;
  height: 4px;
  background-color: var(--vert);
}

@media (max-width: 768px) {
  .legal-notice-main {
    padding: 0 2rem;
    margin-top: 95px;
  }
}
